#grid {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-auto-rows: 200px;
}


.item {
    opacity: .8;
}

.item.featured {
    grid-column: span 3;
}

.hoverable:hover {
    opacity: 1;
}
